body{
  background-color: rgb(229, 234, 238);
}


#sec1{  
padding: 10% 33%;
}
.sec4{
    background-color: white;
    border-radius: 10px;
    /* box-shadow: rgb(138, 138, 235)5px -14px 110px -20px , rgb(231, 75, 75) 0px 30px 60px -30px, rgb(61, 61, 150) 0px -2px 6px 0px; */
padding-top: 5%;
padding-left: 5%;
padding-bottom: 5%;
padding-right: 90%;
}
#sec2{
padding: 4% 8%;
border: rgb(101, 145, 226) solid 4px;
border-radius: 5px;
background-color: white;

width: 300px;
}
.pera{
    color: red;
}


#sec2 h1{
    font-size: 25px;
    text-align: center;
}
#sec2 input{
    width: 240px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-left: 20px;
}

#sec2 p{
    text-align: center;
}

#sec2 button{
    text-align: center;
    margin-left: 50px;
    width: 200px;
    background-color: rgb(15, 15, 15);
    color: white;
    height: 30px;

}